body
{
  background-color: pink;
}

h1
{
  font-size: 100px;
}

h2
{
  font-size:50px;
}

li
{
  font-size:30px;
}

hr
{
  border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
}
